.@font-face {
  font-family: 'manrope';
  src: url('asset/font/Manrope/Manrope-VariableFont_wght.ttf') format('truetype');
}

/* Components */

.btn-idmf-primary {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  width: fit-content;
  height: 38px;
  background: #F89500;
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.16), inset -2px -2px 2px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  font-weight: 600;
  font-size: 14px;
  line-height: 156%;
  color: #FCFCFC;
  border: none;
}

.btn-idmf-primary:hover {
  opacity: 1;
  color: #FCFCFC;
  background: #D88F00;
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.16), inset -2px -2px 2px rgba(0, 0, 0, 0.08);
}

.btn-idmf-primary.btn-block {
  width: 100%;
}

.input-idmf {
  background: #EFF0F6;
  box-shadow: inset -1px -1px 2px rgba(255, 255, 255, 0.12), inset 1px 1px 2px rgba(122, 127, 152, 0.12);
  border-radius: 12px;
  height: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 148%;
  letter-spacing: 0.02em;
  color: #333;
}

.textarea-idmf {
  background: #EFF0F6;
  box-shadow: inset -1px -1px 2px rgba(255, 255, 255, 0.12), inset 1px 1px 2px rgba(122, 127, 152, 0.12);
  border-radius: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 148%;
  letter-spacing: 0.02em;
  color: #333;
}

/* END ## Components */

*:focus {
  outline: none !important;
  box-shadow: none !important;
}

body {
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, .1);
  font-style: normal;
  font-size: 14px;
  line-height: 148%;
  letter-spacing: 0.02em;
  color: #525876;
}

a {
  color: #131825;
  text-decoration: none;
}

a:hover {
  color: #131825;
  opacity: .8;
  text-decoration: none;
}

.header {
  background: #fff;
  position: fixed;
  width: inherit;
  max-width: inherit;
  z-index: 999999999;
}

.header .wrapper {
  padding: 15px 15px;
  display: flex;
  box-shadow: 0px 10px 16px -10px rgba(82, 88, 118, .4);
  position: relative;
}

.header .wrapper .left {
  display: flex;
  align-items: center;
  flex: 1;
}

.header .wrapper .left .logo img {
  width: 96px;
  height: 46px
}

.header .wrapper .left .nav {
  margin-left: 60px;
}

.header .wrapper .left .nav a {
  font-weight: 700;
  font-size: 14px;
  line-height: 156%;
  color: #131825;
  padding: 0 15px;
}

.header .wrapper .left .nav a:hover {
  text-decoration: none;
  opacity: .7;
}

.header .wrapper .left .nav a.active {
  color: #F89500;
}

.header .wrapper .left .nav a:first-child {
  padding-left: 0;
}

.header .wrapper .left .nav a:last-child {
  padding-right: 0;
}

.header .wrapper .right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header .wrapper .right .language {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  background: #fff;
  padding-top: 76px;
}

.main .content {
  padding: 25px 15px;
}

.main .slide {
  background: #fff;
  overflow: hidden;
  position: relative;
}

.main .slide .slide-title-50 {
  position: absolute;
  color: #FCFCFC;
  width: 100%;
  max-width: inherit;
  height: 100%;
  max-height: inherit;
}

.main .slide .slide-title-50 h4 {
  font-weight: 700;
  font-size: 30px;
  line-height: 156%;
  letter-spacing: 0.04em;
  color: #FCFCFC;
}

.main .slide .items {
  background: rgba(31, 34, 169, 1);
  border-radius: 0 0 54px 54px;
}

.main .slide .items img {
  width: 100%;
  height: 367px;
  object-fit: cover;
  border-radius: 0 0 54px 54px;
}

.main .slide .carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 20px;
}

.main .slide .carousel .item {
  width: 8px;
  height: 8px;
  background: #D8DBEC;
  border-radius: 20px;
  margin: 0px 6px;
}

.main .slide .carousel .item.active {
  width: 40px;
  height: 8px;
  background: #F89500;
  border-radius: 20px;
}

.footer {
  background: #1F22A9;
  border-radius: 54px 54px 0px 0px;
  padding: 35px 15px;
  font-weight: 300;
  font-size: 14px;
  line-height: 148%;
  letter-spacing: 0.02em;
  color: #FCFCFC;
}

.footer a {
  color: #FCFCFC;
}

.footer-line {
  border: 0;
  border-bottom: 1px solid #FCFCFC;
  opacity: .7;
}

.social-media-icon img {
  width: 24px;
  height: 24px;
}

.center-vh-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.contact-left {
  padding-top: 100px;
  padding-left: 90px;
  color: #FCFCFC;
}

.contact-right {
  background: #FFFFFF;
  box-shadow: 0px 32px 64px rgba(142, 149, 184, 0.32);
  border-radius: 24px;
  margin-top: 40px;
  margin-right: 90px;
  padding: 44px 32px;
  color: #333;
}

.card-thumb {
  background: #fff;
}

.card-thumb .card-thumb-img-wrapper {
  position: relative;
}

.card-thumb .card-thumb-img {
  width: 100%;
  height: 245px;
  object-fit: cover;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.24));
  box-shadow: 0px 0px 10px rgba(82, 88, 118, .3);
  border-radius: 24px;
}

.card-thumb .card-thumb-img-small {
  width: 100%;
  height: 131px;
  object-fit: cover;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.24));
  box-shadow: 0px 0px 10px rgba(82, 88, 118, .3);
  border-radius: 24px;
}

.card-thumb .card-thumb-img-video {
  width: 100%;
  height: 197px;
  object-fit: cover;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.24));
  box-shadow: 0px 0px 10px rgba(82, 88, 118, .3);
  border-radius: 24px;
  transition: .2s;
}

.card-thumb-hovered .card-thumb-play-btn {
  opacity: .8;
}

.card-thumb-hovered:hover .card-thumb-img-video {
  box-shadow: 0px 0px 10px rgba(82, 88, 118, .8);
  border-radius: 24px;
  transition: .2s;
}

.card-thumb-hovered:hover .card-thumb-play-btn {
  opacity: 1;
}

.card-thumb .card-thumb-play-btn {
  width: 70px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.card-thumb .card-thumb-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
  color: #131825;
}

.card-thumb .card-thumb-title-small {
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: #131825;
}

.card-thumb .card-thumb-title-small .subtitle {
  font-size: 12px;
  line-height: 156%;
  letter-spacing: 0.04em;
  color: #8E95B8;
}

.card-thumb .card-thumb-body {
  font-size: 15px;
  line-height: 148%;
}

.card-section {
  background: #fff;
}

.card-section .card-section-background-float {
  /* 90px is side padding main > content */
  width: calc(100% + 90px);
  height: 175px;
  background: #EFF0F6;
  border-radius: 40px;
  margin-top: -145px;
  margin-left: -45px;
  z-index: 1;
}

.card-section .card-section-list-block-background-float {
  /* 90px is side padding main > content */
  width: calc(100% + 90px);
  height: 110px;
  background: #EFF0F6;
  border-radius: 40px;
  margin-top: -60px;
  margin-left: -45px;
  z-index: 1;
}

.card-section .card-section-title {
  font-weight: 600;
  font-size: 26px;
  line-height: 120%;
  color: #131825;
}

.card-section .card-section-body {
  background: #fff;
  z-index: 2;
}

.card-section .card-section-body .card-section-thumb {
  height: 310px;
  background: #FCFCFC;
  box-shadow: 0px 8px 16px rgba(82, 88, 118, 0.2);
  border-radius: 24px;
  transition: .2s;
}

.card-section .card-section-body .card-section-thumb:hover {
  box-shadow: 0px 8px 16px rgba(82, 88, 118, 0.4);
  transition: .2s;
}

.card-section .card-section-body .card-section-thumb .card-section-thumb-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 24px;
}

.card-section .card-section-body .card-section-thumb .card-section-thumb-detail {
  padding: 24px;
}

.card-section .card-section-body .card-section-text-small {
  font-size: 12px;
  line-height: 16px;
  color: #8E95B8;
}

.card-section .card-section-body .card-section-thumb .card-section-thumb-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 148%;
  color: #131825;
}

.card-section-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 20px;
}

.card-section-carousel .item {
  width: 8px;
  height: 8px;
  background: #D8DBEC;
  border-radius: 20px;
  margin: 0px 6px;
}

.card-section-carousel .item.active {
  width: 40px;
  height: 8px;
  background: #F89500;
  border-radius: 20px;
}

.card-section .card-section-body .card-section-list {
  background: #F8F9FC;
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.16), inset -2px -2px 2px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  display: flex;
  transition: .2s;
}

.card-section .card-section-body .card-section-list:hover {
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.16), inset -2px -2px 2px rgba(0, 0, 0, 0.2);
  transition: .2s;
}

.card-section .card-section-body .card-section-list .card-section-list-img {
  padding: 24px;
  padding-right: 0;
}

.card-section .card-section-body .card-section-list .card-section-list-img img {
  width: 38px;
}

.card-section .card-section-body .card-section-list .card-section-list-img-people {
  padding: 24px;
}

.card-section .card-section-body .card-section-list .card-section-list-img-people img {
  width: 165px;
  height: 165px;
  background: url(.jpg), #C4C4C4;
  box-shadow: 0px 20px 24px rgba(142, 149, 184, 0.24);
  border-radius: 50%;
  object-fit: cover;
}

.card-section .card-section-body .card-section-list-block {
  background: #FFFFFF;
  box-shadow: 0px 8px 16px rgba(82, 88, 118, 0.2);
  border-radius: 24px;
  display: flex;
  transition: .2s;
}

.card-section .card-section-body .card-section-list-block:hover {
  box-shadow: 0px 8px 16px rgba(82, 88, 118, 0.4);
  transition: .2s;
}

.card-section .card-section-body .card-section-list-block .card-section-list-img-block {
  padding: 24px;
  height: 115px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-section .card-section-body .card-section-list-block .card-section-list-img-block img {
  width: 100%;
}

.card-section .card-section-body .card-section-list .card-section-list-detail {
  padding: 24px;
  flex: 1;
}

.card-section .card-section-body .card-section-list .card-section-list-detail .card-section-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 148%;
  letter-spacing: 0.02em;
  color: #131825;
}

.card-section-single {
  background: #fff;
  box-shadow: 0px 32px 64px rgba(142, 149, 184, 0.32);
  border-radius: 32px;
}

.card-section-single .card-section-single-title {
  font-weight: 600;
  font-size: 26px;
  line-height: 120%;
  color: #131825;
  padding: 45px;
  padding-bottom: 0;
}

.card-section-single .card-section-single-title .subtitle {
  font-weight: 300;
  font-size: 14px;
  line-height: 148%;
  letter-spacing: 0.02em;
  color: #525876;
}

.card-section-single .card-section-single-body {
  padding: 45px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-section-single .card-section-single-body .contact-us-input {
  background: #EFF0F6;
  box-shadow: inset -1px -1px 2px rgba(255, 255, 255, 0.12), inset 1px 1px 2px rgba(122, 127, 152, 0.12);
  border-radius: 12px;
  height: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 148%;
}

.card-section-single .card-section-single-body .contact-us-button {
  height: 50px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 10px;
}

.tablist {
  background: #F8F9FC;
  box-shadow: inset -1px -1px 2px rgba(255, 255, 255, 0.12), inset 1px 1px 2px rgba(122, 127, 152, 0.12);
  border-radius: 10px;
  padding: 4px;
  width: fit-content;
}

.tablist .nav-pills .nav-link {
  color: #8E95B8;
  font-size: 14px;
}

.tablist .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background: #1F22A9;
  border-radius: 8px;
  padding: 8px 16px;
  color: #FCFCFC;
}

.tablist .nav-pills .nav-link.active, .nav-pills .show>.nav-link:hover {
  opacity: 1;
}

.tablist-content {
  overflow: hidden;
}

.tablist-content img {
  max-width: 100%;
}

.post-header {
  background: linear-gradient(83.78deg, rgba(55, 55, 55, 0.88) 7.95%, rgba(182, 182, 182, 0.0704) 100.91%), url("../image/post-header-img.png");
  border-radius: 32px;
  height: 353px;
  color: #FCFCFC;
  padding: 64px;
  padding-top: 150px;
  box-shadow: 0px 20px 24px rgba(142, 149, 184, 0.18);
  position: absolute;
  z-index: 2;
  width: 100%;
  max-width: inherit;
}

.post-header-img {
  border-radius: 32px;
  z-index: 1;
  width: 100%;
  height: 353px;
  position: relative;
}

.post-header-img img {
  border-radius: 32px;
  width: 100%;
  height: 353px;
  object-fit: cover;
}

.post-header h4 {
  width: 50%;
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
  color: #FCFCFC;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background-color: #fff;
  border: 0;
  border-bottom: 5px solid #1F22A9;
  color: #1F22A9;
  padding-left: 0;
  padding-right: 0;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
  color: #8E95B8;
  padding-left: 0;
  padding-right: 0;
  margin-right: 30px;
  border: 0;
  font-weight: 500;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu .dropdown-item {
  font-size: 14px;
}

/* For mobile */

@media screen and (max-width: 600px) {
  .hidden-xs {
    display: none;
  }
  .card-section-single .card-section-single-body {
    flex-direction: column;
  }
  .card-section-single .card-section-single-body .contact-us-button {
    width: 100%;
    margin-left: 0;
  }
  .card-thumb .card-thumb-img-small {
    width: 100%;
    height: 105px;
  }
  .contact-left {
    padding: 35px 15px;
  }
  .contact-right {
    padding: 35px 15px;
    margin: 15px;
  }
}

/* For desktop: */

@media only screen and (min-width: 768px) {
  .header .wrapper {
    padding: 15px 90px;
  }
  .main .content {
    padding: 35px 90px;
  }
  .footer {
    padding: 55px 90px;
  }
  .visible-xs {
    display: none;
  }
}